
@{
    ViewData["Title"] = "YoYoTest";
}
<script>

</script>
<div class="text-center">
    <h1 class="display-4">YoYoTest</h1>
    <div id="circle-1" data-circle-size="250px">
        <div class="loader-bg">
            <div class="text">00:00:00</div>
        </div>
    </div>
</div>
