<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YoYoTestApp.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="//www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/js/assets/circle.css">
    <link rel="stylesheet" type="text/css" href="~/js/assets/demo.css">
    <link rel="stylesheet" type="text/css" href="~/js/assets/skins/yellowcircle.css">
    <link rel="stylesheet" type="text/css" href="~/js/assets/skins/purplecircle.css">
    <link rel="stylesheet" type="text/css" href="~/js/assets/skins/firecircle.css">
    <link rel="stylesheet" type="text/css" href="~/js/assets/skins/whitecircle.css">
    <link rel="stylesheet" type="text/css" href="~/js/assets/skins/simplecircle.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    @*<link rel="stylesheet" type="text/css" href="https://unpkg.com/circlebars@1.0.3/dist/circle.css">*@
    <!-- Optionally add this to use a skin : -->
    @*<link rel="stylesheet" type="text/css" href="https://unpkg.com/circlebars@1.0.3/dist/skins/whitecircle.css">*@
    @*<link rel="stylesheet" type="text/css" href="node-modules/circlebars/dist/circle.css">*@
    <!-- Optionally add this to use a skin : -->
    @*<link rel="stylesheet" type="text/css" href="node-modules/circlebars/dist/skins/whitecircle.css">*@
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">YoYoTestApp.Web</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - YoYoTestApp.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    <script type="text/javascript" src="~/js/assets/circle.js"></script>
    @*<script src="~/js/dist/circle.js"></script>*@
    <script src="~/js/YoYoTestViewModel.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
